#app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
}
.rf-nav-logo {
    width:24px;
    height: auto;
    margin-right: 16px;
}
.c-marquee__item {
    background-image: none;
    box-shadow:none;
    padding:0;
    margin:0;
    min-width: 250px;
    height:auto;
    bottom: 0px;
    position: relative;
}
.c-marquee.is-hover .c-marquee__item, .c-marquee:hover .c-marquee__item {
    box-shadow: none;
}
.c-marquee__item:nth-child(odd) {
    margin-bottom: 0px;
}
.c-marquee__item:nth-child(even) {
    margin-top: 0px;
}
.c-marquee__text {
    bottom: 0px;
    text-align:center;
    margin-top: 5px;
}
.c-marquee__dog {
    bottom:0px;
    height: 250px;
    width: 250px;
    background: none;
/*    position: absolute;*/
}
.c-marquee__item:nth-child(5n+1):before,
.c-marquee__item:before,
.c-marquee__item:nth-child(5n+2):before,
.c-marquee__item:nth-child(5n+3):before,
.c-marquee__item:nth-child(5n+4):before  {
    background-image: none;
    padding:0;
    margin-left:2px;
    margin-right:16px;
    width:auto;
    bottom: 0px;
}
.o-section--feature {
    padding: 0rem;
    padding-top: 5rem;
}

.c-marquee__container{
    display:flex;align-items:center;overflow-x:auto;width:calc(15250px);height:410px
}


@media screen and (min-width: 48rem) {
    .o-section--feature {
        padding: 0rem;
        padding-top: 5rem;
    }
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .c-marquee__item:nth-child(5n+1):before,
    .c-marquee__item:before,
    .c-marquee__item:nth-child(5n+2):before,
    .c-marquee__item:nth-child(5n+3):before,
    .c-marquee__item:nth-child(5n+4):before  {
        background-image: none;
        padding:0;
        margin-left:2px;
        margin-right:16px;
        width:auto;
        bottom: 0px;
    }
}
